.title-slide {
  background-image: url(fig/first_step.jpg);
  background-size: cover;
}

.title-slide h1 {
  text-shadow: none;
  color: #F7F8FA;
  margin-top: 350px;
}

.title-slide h3 {
  text-shadow: none;
  color: #F7F8FA;
  font-size: 75%;
}

h6 { 
   position: absolute; 
   bottom: 5px; 
   left: 100px; 
   width: 80%; 
   font-size: 66%;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}